<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @customer.first_name %></h1>
    <p>
      Thank you for signup with new e-commerce app where you can order your product easly .
    </p>
  </body>
</html>